<p id="notice"><%= notice %></p>                                                                                       

<h1><%= Rails.application.class.parent_name %></h1>
    
<hr>
<table>
  <thead> 
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Stage</td>
      <td><%= ENV["DEPLOY_STAGE"] %></td>
    </tr>
    <tr>
      <td>Rails Version</td>
      <td><%= Rails.version %></td>
    </tr>
    <tr>
      <td>Ruby Version</td>
      <td><%= RUBY_VERSION %></td>
    </tr>
    <tr>
      <td>Rails Environment</td>
      <td><%= Rails.env %></td>
    </tr>
    <tr>
      <td>Host</td>
      <td><%= @host %></td>
    </tr>
    <tr>
      <td>Host IP</td>
      <td><%= @ip %></td>
    </tr>
    <tr>
      <td>Remote IP</td>
      <td><%= @remote_ip %></td>
    </tr>
    <tr>
      <td>Current Time</td>
      <td><%= Time.current %></td>
    </tr>
  </tbody>
</table>

<hr>
<p>

<%# link_to 'Boards', boards_path %>
